<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Automated Benchmarks</title>

    <!-- Bootstrap core CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel=stylesheet media="screen"/>

    <script type='text/javascript' src="{{url_for('static', filename='scattergraph.js')}}"></script>

    <!-- Custom CSS for the 'Thumbnail Gallery' Template -->
    <link href="{{ url_for('static', filename='thumbnail-gallery.css') }}">
    <script type='text/javascript' src="http://code.highcharts.com/highcharts.js"></script>
    <script type='text/javascript' src="http://code.highcharts.com/highcharts-more.js"></script>
    <script type='text/javascript' src="http://code.highcharts.com/modules/exporting.js"></script>


    <script type="text/javascript" src="http://www.highcharts.com/highslide/highslide-full.min.js"></script>
    <script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>

    <script type='text/javascript' src="{{url_for('static', filename='util.js')}}"></script>

    <style type="text/css">
        .container-wide {
            margin: 0 auto;
            max-width: 1600px;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Automated Benchmarks</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="btn-group" style="padding-top: 8px">
                <div class="btn-group left">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        Machines <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for machine in machines %}
                            <li value="{{ machine }}" id="{{ 'machinemenu_'+ machine }}">{{ machine }}</li>
                            <script type="text/javascript">
                                $("#{{ 'machinemenu_'+ machine }}").click(function(e){
                                    window.location = '/machine/{{ machine }}'
                                });
                            </script>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        Benchmarks<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for bench in benchmarks %}
                            <li value="{{ bench }}" id="{{ 'benchmenu_'+ bench }}">{{ bench }}</li>
                            <script type="text/javascript">
                                $("#{{ 'benchmenu_'+ bench }}").click(function(e){
                                    window.location = '/bench/{{ bench }}'
                                });
                            </script>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="btn-group" style="padding-top: 8px; float: right">
                <div class="btn-group left">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        Help <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="{{ appconfig['HELPPAGE'] }}" target="_blank">Creating a benchmark</a>
                        </li>
                        <li><a href=mailto://{{ appconfig['ADMINEMAIL'] }}>Contact
                            admin</a></li>
                        <li><a href="/admin">Admin Page</a></li>
                        <li><a href="{{ appconfig['FAQPAGE'] }}">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container-wide">

    {%  block bodycontent %}
    {%  endblock %}

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Created by <a href='http://is.linkedin.com/in/jaimiefryer/'>Jaimie Fryer</a>, <a href="http://www.robg3d.com/">Robert Galanakis</a> and <a href="https://github.com/hrafn/">Hrafn Geirsson</a> for <a href="http://www.ccpgames.com/">CCP Games</a>, <a href="http://github.com/minid33/AutobenchmarkUI">Open Sourced on Github</a></p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

</body>

</html>